page-show-spot {
  .is-favourite {
    color: #ffc125;
  }

  .holidays-alert {
    color: black;
    background-color: #fdf15f;
    text-align: center;
  }

  .featured-image {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .featured-image-overlay {
    height: 30vh;
    opacity:0.5;
    filter: alpha(opacity = 0);
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    display:block;
    background-color: black;
    z-index:2;
  }

  .button-inner {
    color: white;
    font-weight: 200;
  }

  .overlay-grid {
    height: 30vh;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    z-index: 3;
    color: white;
    text-align: center;
  }

  .overlay-spot-name {
    font-family: ShrikhandRegular;
    margin: 0px;
  }

  .overlay-spot-address {
    margin: 0px;
  }

  .segment-toolbar {
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
    height: 6vh;
    min-height: 6vh;
  }

  .toolbar-background-md {
    background: white;
  }
  .segment-underline {
    height: 1px;
    min-height: 1px;
    padding: 0px;
  }

  .info-underline {
    background-color:  #91d048;
    padding: 0px;
    height: 1px;
  }

  .photos-underline {
    background-color:  #91d048;
    padding: 0px;
    height: 1px;
  }

  .favorite-buttons {
    z-index: 2;
    background-color: white;
    bottom: 0px;
    position: fixed;
    height: 10vh;
    width: 100%;
  }

  .favorite-button {
    bottom: 1vh;
    margin: 3vw;
    position: fixed;
    width: 94vw;
    font-weight: 600;
    background-color: #4596ec;
  }

  .unfavorite-button {
    bottom: 1vh;
    margin: 3vw;
    position: fixed;
    width: 94vw;
    font-weight: 600;
    background-color: #4596ec;
  }

  .images-grid {
    margin-bottom: 10vh;
  }

  .content-slider {
    height: auto;
  }

  .slide-zoom {
    text-align: left;
  }

  .content-name {
    margin-left: 2vh;
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 1.4rem;
  }

  .content-address {
    margin-top: 1vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
    font-weight: 400;
    font-size: 1rem;
    color: #9b9b9b;
  }

  .content-description {
    margin-left: 2vh;
    margin-top: 3vh;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .weather {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2.5;
  }

}
